.header{
    background-color: rgba(5, 202, 202, 0.762);
    padding: 10px;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;

}

html{
   min-height: 100%; 
   background-image: url(" https://images.squarespace-cdn.com/content/v1/56db7d4a8a65e2210b5c0cb2/1586005389469-UBSHBH5B196BVIZM6UOA/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/Bubbles+2.jpg");
    min-width: 600px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: auto;
    color: white;
}
input{
    margin-top: 15px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    background-color: rgba(154, 255, 255, 0.762);

}

button{
    margin-top: 15px;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
    background-color: rgba(154, 255, 255, 0.762);
}

.C1{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.first,.c2{
    font-size: 20px;
    border: 5px solid rgba(255, 255, 255, 0.501);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: rgba(109, 197, 252, 0.77);
    color:rgb(0, 0, 0);
    height: 220px;
    width: 220px;
    border-radius: 50%;
    margin: 20px;
}
.c2{
    background-color: rgba(244, 200, 200, 0.591);
}
.city{
    background-color: rgba(0, 255, 255, 0.625);
}
.second{
    display: flex;
    justify-content: space-around;
}
.small{
    margin-top: 5px;
}

.big{
    font-size: 40px;
}

.error{
    background-color: white;
    color: black;
    background-color: rgb(248, 135, 125);
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    border: 2px solid red;
}
